@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background: #CA02EA;
    background: radial-gradient(ellipse at center, #CA02EA, #34276F);
}

.wrapper{
    max-width: 900px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote-box{
    border: 10px solid #06BDC1;
    border-radius: 10px;
    background-color: #F4EDEA;
    width: 100%;
    height: 400px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9); 

}

.btn.btn-info{
    margin-top: 20px;
    color: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9); 
}
#author{
    color: black;
    font-family: 'Dancing Script', cursive;
}
#quote{
    font-size: 35px;
}